/* Team Purple: rgb 166 41 158 */
/* Team Green: rgb 44 208 57 */
/* Host Turquoise: rgb 72 157 177 46 126 128 */

.App {
  text-align: center;
}

.App-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Team-score {
  margin: 0px 100px;
  width: 200px;
  background-color: red;
  color: white;
  min-width: 150px;
}

.Team-score-header {
  padding: 4px;
  background-color: blue;
}

.Game-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.Players {
  align-items: right;
  justify-content: left;
}

.Players div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 400px;

  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 35px;

  margin: 8px 8px 20px 8px;
  padding: 16px;
}

.Players div.active {
  transform: rotate(-2deg);
  border: 8px solid gold;
  padding: 32px;
}

.Team-1 div {
  background-color: rgb(166 41 158);
}
.Team-2 div {
  background-color: rgb(44 208 57);
}

.Statement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 32px 48px;

  font-family: 'Roboto Mono', monospace;
  font-size: calc(15px + 2vmin);
}

.Statement.Answer {
  font-weight: 700;
}

.ButtonContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: 700;
}

.Button:hover {
  cursor: pointer; 
}

.Truth, .Lie {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: rgb(72 157 177);
  margin: 0 16px;
}

.Truth:hover, .Lie:hover{
  transform: rotate(-2deg);
  text-decoration: underline;
}

.Next {
  font-size: 60px;
}

.Next:hover {
  color: rgb(72 157 177);
}