.App {
  text-align: center;
}

.App-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Team-score {
  margin: 0px 100px;
  width: 200px;
  background-color: red;
  color: white;
  min-width: 150px;
}

.Team-score-header {
  padding: 4px;
  background-color: blue;
}

.Game-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.Players {
  align-items: right;
  justify-content: left;
}

.Players div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 8px;
  padding: 16px;
  width: 290px;
  background-color: red;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Statement {
  width: 100%;
  margin: 16px;
  font-size: 42px;
}

#Next-button {
  font-size: 60px;
}

#Next-button:hover {
  color: red;
}